<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzh.dao.CommodityAttributeDao">

    <!-- CommodityAttribute集合申明 -->
    <resultMap id="CommodityAttributeMap" type="CommodityAttribute">
        <id property="id" column="commodity_attribute_id"/>
        <result property="commodityId" column="commodity_id"/>
        <result property="attributeValue" column="commodity_attribute_value"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!--把需要查询的字段写成公用列-->
    <sql id="base_column">
        commodity_id,commodity_attribute_id,commodity_attribute_value,is_deleted,update_time
    </sql>

    <!-- 搜素所有未逻辑删除的CommodityAttribute-->
    <select id="listAll" resultMap="CommodityAttributeMap">
        select
        <include refid="base_column" />
        from commodity_attribute
    </select>

    <!-- 新增CommodityAttribute -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="CommodityAttribute" >
        insert into
        commodity_attribute
        (
          commodity_id,commodity_attribute_value,is_deleted,update_time
        )
        values
        (
            #{commodityId},#{attributeValue},0,NOW()
        )
    </insert>

    <!-- 更新CommodityAttribute -->
    <update id="update"  parameterType="CommodityAttribute">
        update commodity_attribute
        set
            commodity_id=#{commodityId},
            commodity_attribute_value=#{attributeValue},
            is_deleted=#{isDeleted},
            update_time=NOW()
        where commodity_attribute_id=#{id}
    </update>

    <!-- 删除CommodityAttribute -->
    <delete id="delete" parameterType="java.lang.Long">
        update commodity_attribute
        set
          is_deleted=0,
          update_time=NOW()
        where commodity_attribute_id=#{id}
    </delete>

    <!-- 查询CommodityAttribute -->
    <select id="get" parameterType="java.lang.Long" resultMap="CommodityAttributeMap">
        select
        <include refid="base_column" />
        from commodity_attribute
        where commodity_attribute_id=#{id}
    </select>
</mapper>