<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzh.dao.CommodityAttributeTypeDao">

    <!-- CommodityAttributeType集合申明 -->
    <resultMap id="CommodityAttributeTypeMap" type="CommodityAttributeType">
        <id property="id" column="commodity_attribute_type_id"/>
        <result property="name" column="commodity_attribute_type_name"/>
        <result property="commodityTypeLevelThreeId" column="commodity_type_id"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!--把需要查询的字段写成公用列-->
    <sql id="base_column">
        commodity_attribute_type_id,commodity_attribute_type_name,commodity_type_id,is_deleted,update_time
    </sql>

    <!-- 搜素所有未逻辑删除的CommodityAttributeType-->
    <select id="listAll" resultMap="CommodityAttributeTypeMap">
        select
        <include refid="base_column" />
        from commodity_attribute_type
    </select>

    <!-- 新增CommodityAttributeType -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="CommodityAttributeType" >
        insert into
        commodity_attribute_type
        (
          commodity_attribute_type_name,commodity_type_id,is_deleted,update_time
        )
        values
        (
            #{name},#{commodityTypeLevelThreeId},0,NOW()
        )
    </insert>

    <!-- 更新CommodityAttributeType -->
    <update id="update"  parameterType="CommodityAttributeType">
        update commodity_attribute_type
        set
            commodity_attribute_type_name=#{name},
            commodity_type_id=#{commodityTypeLevelThreeId},
            is_deleted=#{isDeleted},
            update_time=NOW()
        where commodity_attribute_type_id=#{id}
    </update>

    <!-- 删除CommodityAttributeTypee -->
    <delete id="delete" parameterType="java.lang.Long">
        update commodity_attribute_type
        set
          is_deleted=0,
          update_time=NOW()
        where commodity_attribute_type_id=#{id}
    </delete>

    <!-- 查询CommodityAttributeType -->
    <select id="get" parameterType="java.lang.Long" resultMap="CommodityAttributeTypeMap">
        select
        <include refid="base_column" />
        from commodity_attribute_type
        where commodity_attribute_type_id=#{id}
    </select>
</mapper>